@page "{id:int}"
@model RazorPagesSoftware.Pages.Softwares.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Software</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Software.ID" />
            <div class="form-group">
                <label asp-for="Software.Name" class="control-label"></label>
                <input asp-for="Software.Name" class="form-control" />
                <span asp-validation-for="Software.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Publisher" class="control-label"></label>
                <input asp-for="Software.Publisher" class="form-control" />
                <span asp-validation-for="Software.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Vendor" class="control-label"></label>
                <input asp-for="Software.Vendor" class="form-control" />
                <span asp-validation-for="Software.Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.LicenseKey" class="control-label"></label>
                <input asp-for="Software.LicenseKey" class="form-control" />
                <span asp-validation-for="Software.LicenseKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.PONumber" class="control-label"></label>
                <input asp-for="Software.PONumber" class="form-control" />
                <span asp-validation-for="Software.PONumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Location" class="control-label"></label>
                <input asp-for="Software.Location" class="form-control" />
                <span asp-validation-for="Software.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.LicenseQuantity" class="control-label"></label>
                <input asp-for="Software.LicenseQuantity" class="form-control" />
                <span asp-validation-for="Software.LicenseQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.RenewalDate" class="control-label"></label>
                <input asp-for="Software.RenewalDate" class="form-control" />
                <span asp-validation-for="Software.RenewalDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Software.IsInstructional" /> @Html.DisplayNameFor(model => model.Software.IsInstructional)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Software.IsFacStaff" /> @Html.DisplayNameFor(model => model.Software.IsFacStaff)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Software.IsArchived" /> @Html.DisplayNameFor(model => model.Software.IsArchived)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
